:root {
    --colorFondo: #fff280;
    --colorTituloSeccion: #ffc533;
    --colorTituloArticle: #ff7740;
    --colorFondoArticle: #ffeb33;
}


h1 {
    text-align: center;
    letter-spacing: 0.2rem;
}

body {
    background-color: var(--colorFondo);
}

section {
    float: left;
    width: 36rem;
    border: 2px solid var(--colorTituloSeccion);
    margin: 3px;
    margin: 0.5rem;
}

section h2 {
    background-color: var(--colorTituloSeccion);
}

article {
    float: left;
    width: 15rem;
    background-color: var(--colorTituloArticle);
    border: 3px solid var(--colorTituloArticle);
    margin: 3px;
    padding: 3px;
}

article div {
    background-color: var(--colorFondoArticle);
    margin: 3px;
    padding: 3px;
}

article h3 {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
}