@font-face {
    font-family: 'Agave Nerd Font', cursive;
    src: url(fonts/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf);
}


p {
    text-align-last:center;
    text-indent: 2em;
}

p::first-letter {
    font-size: 1.4em;
    color: white;
    background-color: blue;
}

.linea::first-line {
   color: red;
}

p:hover {
    text-decoration: overline;
    text-decoration-color: red;
}

#ultima{
    text-shadow: 5px 0px 2px rgba(130, 167, 242, 1);
}


div:nth-child(1) {
    font-family: 'Overpass Mono', monospace;
}

div:nth-child(2) {
    font-family: 'Roboto Condensed', sans-serif;
}

div:nth-child(3) {
    font-family: 'Agave Nerd Font', cursive;
}